/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: -webkit-linear-gradient(50deg, #619bff, #002a74, #000c20,
                                        #000c20, #000c20, #000c20, #002a74, #619bff);
}

main
{
  margin: 2rem 6rem;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, li {
    padding: 0;
    list-style: none;
}

a
{
    text-decoration: none;
}

button
{
    border: none;
}

p
{
  text-align: left;
  font-size: .8rem;
  color: #555;
}